Repository Hackaanjos/uselessRanked, pull requests merged in 2025-05, with the labels that each got.

#1 Inicialiazando o BE inserindo o Spring
  backend-api/.gitattributes
  backend-api/.gitignore
  backend-api/build.gradle
  backend-api/gradle/wrapper/gradle-wrapper.jar
  backend-api/gradle/wrapper/gradle-wrapper.properties
  backend-api/gradlew
  backend-api/gradlew.bat
  backend-api/settings.gradle
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/HackanjosApplication.java
  backend-api/src/main/resources/application.properties
  backend-api/src/test/java/com/codecon/hackaton/hackanjos/HackanjosApplicationTests.java
Labels: BACKEND

#2 Autenticação com o Google
  backend-api/build.gradle
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/AuthController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/User.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/UserRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/UserService.java
  backend-api/src/main/resources/application.properties
Labels: BACKEND

#8 Fluxo para salvar eventos de click do mouse
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/MouseClickController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/request/MouseClickRequestDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/MouseClick.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/MouseClickRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/MouseClickService.java
Labels: BACKEND

#9 Listagem dos hanckings de teclas
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/KeyPressedController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/reponse/AllKeyPressedResponseDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/reponse/KeyPressedByKeyResponseDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/KeyPressedRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/KeyPressedService.java
Labels: BACKEND

#10 Implementando logout + index para testes
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/AuthController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/HomeController.java
Labels: BACKEND

#11 Implementando consumo dados da API
  site/.prettierignore
  site/angular.json
  site/package-lock.json
  site/package.json
  site/prettier.config.js
  site/proxy.conf.json
  site/src/app/app.component.html
  site/src/app/app.component.ts
  site/src/app/app.config.ts
  site/src/app/models/PaginatedList.ts
  site/src/app/models/Ranking.ts
  site/src/app/models/UserRanking.ts
  site/src/app/services/ranking.service.interface.ts
  site/src/app/services/ranking.service.web.ts
  site/src/utils/http/http-request-manager.ts
Labels: FRONTEND

#12 Adicionar flag para que seja possível filtrar por data
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/KeyPressedController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/enums/IntervalFilter.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/KeyPressedRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/KeyPressedService.java
Labels: BACKEND

#14 Ranking de mouse click
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/KeyPressedController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/MouseClickController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/ranking/MouseClickRankingController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/AllKeyPressedResponseDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/KeyPressedByKeyResponseDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/ranking/MouseClickDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/enums/IntervalFilter.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/KeyPressedRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/MouseClickRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/KeyPressedService.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/MouseClickService.java
Labels: BACKEND

#15 Mover para o endpoint de ranking os eventos para o endpoint de ranking
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/KeyPressedController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/ranking/KeyPressedRankingController.java
Labels: BACKEND, aguardando_outro_pr

#13 Adicionando tratamento de erros
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/CustomErrorController.java
  backend-api/src/main/resources/application.properties
Labels: BACKEND

#17 Feat mouseMovement = Cadastro + ranking
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/MouseMovementController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/ranking/MouseMovementRankingController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/request/MouseMovementRequestDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/ranking/MouseMovementResponseDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/MouseMovement.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/MouseMovementRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/KeyPressedService.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/MouseClickService.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/MouseMovementService.java
Labels: BACKEND

#16 Atualizando URLs para consulta de dados da API
  site/.editorconfig
  site/src/app/app.component.html
  site/src/app/app.component.ts
  site/src/app/models/Ranking.ts
  site/src/app/services/ranking.service.interface.ts
  site/src/app/services/ranking.service.web.ts
  site/src/utils/enums/MetricModelGroup.ts
  site/src/utils/enums/PeriodType.ts
Labels: DESKTOP

#20 Adicionando ranking do usuário logado
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/ranking/UserRankingController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/ranking/UserRankDTO.java
Labels: BACKEND

#18 Implementando consulta de clicks do mouse
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/ranking/MouseMovementResponseDTO.java
  site/src/app/app.component.html
  site/src/app/app.component.ts
  site/src/app/services/ranking.service.interface.ts
  site/src/app/services/ranking.service.web.ts
  site/src/utils/enums/EnumUtils.ts
Labels: FRONTEND

#22 Deixando botão em destaque
  site/src/app/app.component.html
  site/src/app/app.component.scss
  site/src/app/app.component.ts
  site/src/styles.scss
Labels: FRONTEND

#25 Adicionar buscador de caracter especial FrontEnd
  site/src/app/app.component.html
  site/src/app/app.component.ts
  site/src/app/models/Ranking.ts
Labels: FRONTEND

#23 Conquistas do usuário
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/AchievementController.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/dto/response/AchievementResponseDTO.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/Achievement.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/model/enums/AchievementName.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/AchievementRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/KeyPressedRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/repository/MouseClickRepository.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/AchievementService.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/KeyPressedService.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/MouseClickService.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/service/MouseMovementService.java
Labels: BACKEND

#24 Login front
  site/src/app/app.component.html
  site/src/app/app.component.ts
  site/src/app/services/auth.service.ts
Labels: FRONTEND

#26 Início da documentação
  .idea/.gitignore
  LICENSE.TXT
  README.md
  backend-api/README.md
  electron-app/README.md
  img/discussion.jpeg
Labels: DOCUMENTACAO

#29 Adicionando callback url no login
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/config/SecurityConfig.java
  backend-api/src/main/java/com/codecon/hackaton/hackanjos/controller/AuthController.java
  site/src/app/services/auth.service.ts
Labels: BACKEND, FRONTEND
